<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h1>User Dashboard</h1>
    <h2>
        <a href="/users/login">Log Out</a>
    </h2>
    <form action="/users/dashboard" method="GET">
        <label for="source">Source</label>
        <select name="source" id="source" required>
            <option value="A">A</option>
            <option value="B">B</option>
        </select>
        <label for="destination">Destination</label>
        <select name="destination" id="destination" required>
            <option value="A">A</option>
            <option value="B">B</option>
        </select>
        <input type="hidden" name="username" required value="<%= user %>">
        <button type="submit">Search Trains</button>
    </form>
    <h2>Available Trains</h2>
    <table border="1" style="width: 100%;">
        <thead>
            <tr>
                <th>Train Name</th>
                <th>Train Number</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Arrival Time</th>
                <th>Departure Time</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Available</th>
                <th width="20">Book</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>
<script type="text/javascript">
    let source = new URLSearchParams(window.location.search).get('source');
    let destination = new URLSearchParams(window.location.search).get('destination');
    let urlPattern = `/trains/search?source=${source}&destination=${destination}`;
    fetch(urlPattern, { method: 'GET' })
        .then(response => response.json())
        .then(data => {
            const tbody = document.querySelector('tbody');
            if(data.trains.length === 0) {
                const tr = document.createElement('tr');
                tr.innerHTML = `<td colspan="9">No trains available</td>`;
                tbody.appendChild(tr);
                return ;
            }   
            data.trains.forEach(train => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td>${train.trainname}</td>
                    <td>${train.trainno}</td>
                    <td>${train.source}</td>
                    <td>${train.destination}</td>
                    <td>${train.arrival}</td>
                    <td>${train.departure}</td>
                    <td>${train.duration}</td>
                    <td>${train.price}</td>
                    <td>${train.available}</td>
                    <td><form action='/trains/book' method='post'><input type='hidden' name='trainno' value='${train.trainno}'><input type='hidden' name='ticketnumber' value='${train.available}'><input type='hidden' name='username' value='<%=user%>'><input type='submit' value='Book Ticket'></form></td>
                `;
                tbody.appendChild(tr);
            });
        });
</script>